@model Escuela
@{
    ViewData["Title"] = "Informacion Escuela";
    // recibiendo data que viene del controller 
    // @Model.nombre
}

<div class="container">
    <h1> Escuela @ViewData["Title"] </h1>
    <h2> Nombre: @Model.Nombre </h2>
    <h3> Tipo de Escuela: @Model.TipoEscuela</h3>
    <address>
        <p>Direccion: @Model.Dirección</p>
        <p>Pais: @Model.Pais</p>
        <p>Ciudad: @Model.Ciudad</p>
    </address>
    <p> <strong> Año Fundacion: @Model.AnioCreacion </strong> </p>
    <p>@ViewData["cosaDinamica"]</p>
</div>