@* esto es un comentario *@
@model Alumno

@{
    ViewData["Title"] = "Informacion Alumno";
    // recibiendo data que viene del controller 
    // @Model.nombre
}

<h1> @ViewData["Title"] </h1>
<strong> Desde la vista normal </strong>
<p> 
    Nombre: @Model.Nombre 
    Id: @Model.UniqueId
</p>

<strong> Desde la vista parcial </strong>
<partial name="ObjetoEscuelaSimple"/>
<p>@ViewData["Fecha"]</p>