@model Curso
@{
    ViewData["Title"] = "Informacion Curso";
    // recibiendo data que viene del controller 
    // @Model.nombre
}
<div class="container">
    <h1> Escuela @ViewData["Title"] </h1>
    <h2> Nombre: @Model.Nombre </h2>
    <h3> Jornada: @Model.Jornada</h3>
    <address>
        <p>Asignaturas: @Model.Asignaturas</p>
        <p>EscuelaId: @Model.EscuelaId</p>
    </address>
</div>