@model Curso
@{
    ViewData["Title"] = "Informacion Curso";
    // recibiendo data que viene del controller 
    // @Model.nombre
}
<div class="container">
    <h1> Escuela @ViewData["Title"] </h1>
    <h2>@ViewBag.MensajeExra</h2>
    <p>
        Nombre: @Model.Nombre
        Jornada: @Model.Jornada
    </p>
    <address>
        <p>Asignaturas: @Model.Asignaturas</p>
        <p>EscuelaId: @Model.EscuelaId</p>
    </address>
</div>